html, body {
    background-color: #f2f2f2;
    font-family: 'Noto Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
}

.social-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icon {
    height: 48px;
    width: 48px;
}

.title {
    margin: auto;
    margin-top: calc(20vh);
    font-size: 15em;
    text-align: center;
}